@let content = c();
@let offer = vpOffer();
@let cert = decryptedCertificate();
<div class="flex flex-col gap-3">
  <h1 class="text-2xl mx-auto font-bold">Compliance 1</h1>

  <app-form-divider label="Input"></app-form-divider>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Certificate:</label>
    <input type="file" (change)="onFileSelect($event)" accept=".pfx"
           class="grow text-white cursor-pointer bg-gray-800 rounded-lg">
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Password:</label>
    <input type="password" placeholder="i_love_dataspaces69" [(ngModel)]="state.pass"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Url:</label>
    <input type="text" placeholder="https://www.my-domain.com/vc1" [(ngModel)]="state.baseUrl"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Did:</label>
    <input type="text" placeholder="did:web:www.my-domain.com:docs:vc" [(ngModel)]="state.did"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <app-form-divider label="Actions"></app-form-divider>

  <div class="flex flex-row gap-3">
    <app-action-button (onClick)="state.decryptCert()" [isDisabled]="state.isLoading()">
      @if (state.isLoading()) {
        Decrypting…
      } @else {
        Decrypt certificate
      }
    </app-action-button>
    <app-action-button (onClick)="state.copyToClipboard(cert?.certInfo)" [isDisabled]="!cert?.certInfo">📋
    </app-action-button>

  </div>

  @if (offer) {
    <div>
      <app-form-divider label="Publish and Offer"></app-form-divider>

      <div class="flex flex-row gap-4 items-center">
        <app-form-selector label="To:" labelClass=""
                           [selected]="selectedDomain"
                           [collection]="publishDomains"></app-form-selector>

        <div class="flex flex-row items-baseline">
          <input type="text" placeholder="my-vc-name" [(ngModel)]="publishPath"
                 class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
        </div>

        <app-action-button (onClick)="publishOffer()" [isDisabled]="state.isLoading()">
          @if (state.isLoading()) {
            Publishing…
          } @else {
            Publish
          }
        </app-action-button>

        <app-action-button (onClick)="getCompliance()" [isDisabled]="state.isLoading() || !vpOffer()">
          @if (state.isLoading()) {
            Offering and publishing…
          } @else {
            Offer and publish
          }
        </app-action-button>
        <app-action-button (onClick)="state.copyToClipboard(content)" [isDisabled]="!content">📋
        </app-action-button>
      </div>

      <app-form-divider label="Result"></app-form-divider>

      <div class="flex flex-row gap-3">
        <div class="flex-1">
          <app-form-divider label="- offer"></app-form-divider>
          <app-result-block [content]="offer"></app-result-block>
        </div>
        @if (content) {
          <div class="flex-1">
            <app-form-divider label="- compliance"></app-form-divider>
            <app-result-block [content]="content"></app-result-block>
          </div>
        }
      </div>
    </div>
  }
</div>
