<div class="flex flex-col gap-3">
  <h1 class="text-2xl mx-auto font-bold">Compliance 1</h1>
  <div class="flex items-center gap-3">
    <span class="whitespace-nowrap font-medium text-gray-400">Input</span>
    <hr class="flex-1 my-2 border-gray-600">
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Certificate:</label>
    <input type="file" (change)="onFileSelect($event)" accept=".pfx"
           class="grow text-white cursor-pointer bg-gray-800 rounded-lg">
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Password:</label>
    <input type="text" placeholder="i_love_dataspaces69" [(ngModel)]="state.pass"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex flex-row items-baseline">
    <label class="w-20 mx-2 text-lg text-gray-500">Url:</label>
    <input type="text" placeholder="https://www.my-domain.com/vc1" [(ngModel)]="state.baseUrl"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex items-center gap-3">
    <span class="whitespace-nowrap font-medium text-gray-400">Actions</span>
    <hr class="flex-1 my-2 border-gray-600">
  </div>

  <div class="flex flex-row gap-3">
    <button type="button" (click)="state.decryptCert()" [disabled]="state.isLoading()"
            class=" text-black bg-blue-400 hover:bg-blue-300 font-medium rounded-lg text-sm py-2 px-4 flex justify-center transition-all
           disabled:bg-gray-600">
      @if (state.isLoading()) {
        Decrypting…
      } @else {
        Decrypt certificate
      }
    </button>
    <button type="button" (click)="state.decryptCert()"
            [disabled]="state.isLoading() || !state.credentialProvider.vpOffer()"
            class=" text-black bg-blue-400 hover:bg-blue-300 font-medium rounded-lg text-sm py-2 px-4 flex justify-center transition-all
           disabled:bg-gray-600">
      @if (state.isLoading()) {
        Decrypting…
      } @else if (!state.credentialProvider.vpOffer()) {
        VCs are not ready
      } @else {
        Decrypt certificate
      }
    </button>
  </div>

  @if (state?.credentialProvider?.decryptedCertificate()) {
    <div class="flex items-center gap-3">
      <span class="whitespace-nowrap font-medium text-gray-400">Result</span>
      <hr class="flex-1 my-2 border-gray-600">
    </div>
    <!--    <code [ngModel]="state.credentialProvider.decryptedCertificate()?.certInfo"></code>-->
    <pre class="text-sm bg-blue-950 text-green-200 mx-4 my-2 p-4
    rounded-lg overflow-auto">
      <code class="whitespace-pre-wrap">{{ state.credentialProvider.decryptedCertificate()?.certInfo | json }}</code>
    </pre>
  }
</div>
