<div class="min-h-screen flex flex-col">

  <ul class="flex flex-wrap text-sm font-medium text-center text-body border-b border-b-blue-900">
    <li class="me-2">
      <a routerLink="v1" routerLinkActive="is-active" class="btn-primary-tab">Gaia-x Tagus v1</a>
    </li>
    <li class="me-2">
      <a routerLink="v2" routerLinkActive="is-active" class="btn-primary-tab">Gaia-x Loire v2</a>
    </li>
    <li class="me-2">
      <a href="#" class="btn-primary-tab">Uanataca</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
