<div class="flex flex-col gap-3">
  <h1 class="text-2xl grow font-bold">Required user data</h1>

  <app-form-divider label="Input"></app-form-divider>

  <div class="flex flex-row gap-4">
    <div class="flex flex-row items-baseline flex-4">
      <label class="w-20 input-label">Certificate:</label>
      <input type="file" (change)="onFileSelect($event)" accept=".pfx"
             class="grow input-base">
    </div>

    <div class="flex flex-row flex-5 relative items-center">
      <label class="w-20 input-label">Password:</label>
      <input type="password" #passInput placeholder="i_love_dataspaces69" [(ngModel)]="state.pass"
             class="grow input-base"/>
      <button type="button" (click)="togglePasswordVisibility()"
              class="absolute right-1 bg-black/40 p-1 rounded-lg hover:bg-gray-600 transition-all">👁
      </button>
    </div>
  </div>

  <div class="flex flex-row gap-4">
    <div class="flex flex-row items-baseline flex-4">
      <label class="w-20 input-label">Save url:</label>
      <input type="text" placeholder="https://www.my-domain.com/vc1" [(ngModel)]="state.baseUrl"
             class="grow input-base"/>
    </div>

    <div class="flex flex-row items-baseline flex-5">
      <label class="w-20 input-label">Did:</label>
      <input type="text" placeholder="did:web:www.my-domain.com:docs:vc" [ngModel]="state.did()" disabled
             class="grow input-base"/>
    </div>
  </div>

  <div class="flex flex-row gap-4">
    <div class="flex flex-row items-center flex-4">
      <label class="w-20 input-label">Vat ID:</label>
      <input type="text" placeholder="A123456B" [(ngModel)]="state.vatId"
             class="grow input-base"/>
    </div>

    <app-form-selector class="flex-5" label="Issuer:" labelClass="w-20"
                       [selected]="state.ch"
                       [collection]="APPROVED_CHS"></app-form-selector>
  </div>

  <div class="flex flex-row gap-4">
    <div class="flex flex-row items-center flex-4">
      <label class="w-20 input-label">Country:</label>
      <input type="text" placeholder="ES-es" [(ngModel)]="state.countryCode"
             class="grow input-base"/>
    </div>

    <div class="flex flex-row items-center flex-5">
      <label class="w-20 input-label">Name:</label>
      <input type="text" placeholder="Cows and co." [(ngModel)]="state.legalName"
             class="grow input-base"/>
    </div>
  </div>

  <app-form-divider label="Service offering">
    <input class="checkbox-primary" type="checkbox" [(ngModel)]="state.isIncludeSO"/>
  </app-form-divider>
  @if (state.isIncludeSO()) {
    <div class="flex flex-row gap-3">
      <div class="flex flex-row items-center flex-4">
        <label class="w-20 input-label">Terms url:</label>
        <input type="text" placeholder="http://www.terms.com" [(ngModel)]="state.soTacUrl"
               class="grow input-base"/>
      </div>

      <div class="flex flex-row items-center flex-5">
        <label class="w-20 input-label">Hash:</label>
        <input type="text" placeholder="SHA-256" [(ngModel)]="state.soTacHash"
               class="grow input-base"/>
      </div>
    </div>

    <div class="flex flex-row gap-3">
      <div class="flex flex-row items-center flex-4">
        <label class="w-20 input-label">Name:</label>
        <input type="text" placeholder="Energy analysis algorithm" [(ngModel)]="state.soName"
               class="grow input-base"/>
      </div>
      <div class="flex flex-row items-center flex-5">
        <label class="w-20 input-label">Subject:</label>
        <input type="text" placeholder="did:ope:b83...5f7" [(ngModel)]="state.soSubject"
               class="grow input-base"/>
      </div>
    </div>

    <div class="flex flex-row gap-3">
      <app-form-selector class="flex-4" label="Request:" labelClass="w-20"
                         [selected]="state.soRequestType"
                         [collection]="REQUEST_TYPES"></app-form-selector>

      <div class="flex flex-row items-center flex-5">
        <label class="w-20 input-label">Format:</label>
        <input type="text" placeholder="application/json" [(ngModel)]="state.soFormatType"
               class="grow input-base"/>
      </div>
    </div>

    <div class="flex flex-row items-center">
      <label class="w-24 input-label">Description:</label>
      <textarea type="text" placeholder="This service is ..." [(ngModel)]="state.soDescription"
                class="grow input-base"></textarea>
    </div>
  }
  <app-form-divider label="Actions"></app-form-divider>

  <div class="flex flex-row items-baseline">
    <app-side-decorator class="flex flex-row text-green-400 items-center gap-3 grow" leftDecor=". ݁₊ ⊹"
                        rightDecor="⊹ ₊ ݁.">
      <app-action-button (onClick)="startFlow()" [isDisabled]="state.isLoading()">
        @if (state.isLoading()) {
          Doing magic…
        } @else {
          Get compliance
        }
      </app-action-button>
      <p class="text-green-400">✿</p>
      <app-action-button (onClick)="decryptCert()" [isDisabled]="state.isLoading()">
        @if (state.isLoading()) {
          Deciphering scrolls…
        } @else {
          Decrypt certificate
        }
      </app-action-button>
    </app-side-decorator>
    <app-stepper [isBackDisabled]="true"></app-stepper>
  </div>

  @if (decryptedCertificate() || compliance()) {
    <app-form-divider label="Result"></app-form-divider>
    <div class="flex flex-row gap-3">
      @if (compliance()) {
        <app-result-block class="flex-1" [content]="compliance()"></app-result-block>
        <app-result-block class="flex-1" [content]="compliance() | decodeJwt"></app-result-block>
      }
    </div>
    @if (decryptedCertificate()) {
      <div class="flex-1">
        <app-result-block [content]="decryptedCertificate()"></app-result-block>
      </div>
    }
  }
</div>
