<div class="flex flex-col md:flex-row gap-4 grow p-2">
  <aside class="shrink flex flex-col">
    <div class="grow">
      <div class="mb-4">
        <a routerLink="compliance"
           routerLinkActive="is-active"
           class="btn-primary-navbar">
          Verifiable Credential
        </a>

        <ul class="m-2 flex flex-col text-sm gap-1">
          <li>
            <a routerLink="lnr"
               routerLinkActive="is-active"
               class="btn-primary-navbar-child">
              Legal registration number
            </a>
          </li>
          <li>
            <a routerLink="lp"
               routerLinkActive="is-active"
               class="btn-primary-navbar-child">
              Legal Participant
            </a>
          </li>
          <li>
            <a routerLink="tac"
               routerLinkActive="is-active"
               class="btn-primary-navbar-child">
              Terms and condition
            </a>
          </li>
          <li>
            <a routerLink="so"
               routerLinkActive="is-active"
               class="btn-primary-navbar-child">
              Service Offering
            </a>
          </li>
        </ul>

        <button type="button"
                class="mx-auto text-blue-600 hover:text-blue-300 rounded-lg text-sm italic py-2 px-4 flex justify-center transition-colors">
          + Add credential
        </button>
      </div>
    </div>

    <div class="m-2">
      <button type="button"
              class="mx-auto text-blue-100 bg-green-900 hover:bg-green-600 font-medium rounded-lg text-sm py-2 px-4 flex justify-center transition-all">
        + New compliance
      </button>
    </div>
  </aside>

  <main class="flex-3">
    <router-outlet></router-outlet>
  </main>
</div>
