<div class="p-5 space-y-6">
  <div class="flex flex-col space-y-6 md:space-y-0 md:space-x-6" [class.md:flex-row]="!(testMode() || stackLayout())">
    <div class="flex-1 min-w-0">
      <app-lrn [testMode]="testMode()"></app-lrn>
    </div>
    @if (!(testMode() || stackLayout())) {
      <div class="hidden md:block border-l border-gray-200 dark:border-gray-700"></div>
    }
    <div class="flex-1 min-w-0 my-6">
      <app-lp-tc [testMode]="testMode()"></app-lp-tc>
    </div>
  </div>
  <hr class="my-6 border-gray-200 dark:border-gray-700" />
  <div>
    <app-vp-vc></app-vp-vc>
  </div>
</div>
