@let content = c();
<div class="flex flex-col gap-3">
  <h1 class="text-2xl font-bold">Legal participant</h1>

  <app-form-divider label="Input"></app-form-divider>

  <div class="flex flex-row items-center">
    <label class="w-28 input-label">Country code:</label>
    <input type="text" placeholder="ES-es" [(ngModel)]="state.countryCode"
           class="grow input-base"/>
  </div>

  <div class="flex flex-row items-center">
    <label class="w-28 input-label">Legal name:</label>
    <input type="text" placeholder="Cows and co." [(ngModel)]="state.legalName"
           class="grow input-base"/>
  </div>

  <app-form-divider label="Actions"></app-form-divider>

  <div class="flex flex-row gap-3">
    <app-action-button (onClick)="state.buildLP()" [isDisabled]="state.isLoading()">
      @if (state.isLoading()) {
        Building and Signing…
      } @else {
        Build and sign
      }
    </app-action-button>
    <app-action-button (onClick)="state.copyToClipboard(content)" [isDisabled]="!content">📋</app-action-button>
  </div>

  @if (content) {
    <app-form-divider label="Result"></app-form-divider>
    <app-result-block [content]="content"></app-result-block>
  }
</div>
