@let content = c();
<div class="flex flex-col gap-3">
  <h1 class="text-2xl mx-auto font-bold">Service Offering</h1>

  <app-form-divider label="Input"></app-form-divider>

  <div class="flex flex-row gap-3">
    <div class="flex flex-row items-center flex-1">
      <label class="w-28 mx-2 text-lg">Terms url:</label>
      <input type="text" placeholder="http://www.terms.com" [(ngModel)]="tacUrl"
             class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
    </div>

    <div class="flex flex-row items-center flex-1">
      <label class="w-28 mx-2 text-lg">Terms hash:</label>
      <input type="text" placeholder="SHA-256" [(ngModel)]="tacHash"
             class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
    </div>
  </div>

  <div class="flex flex-row items-center">
    <label class="w-28 mx-2 text-lg">Subject:</label>
    <input type="text" placeholder="did:ope:b83...5f7" [(ngModel)]="subject"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex flex-row gap-3">
    <app-form-selector class="flex-1" label="Request type:" labelClass="w-28"
                       [selected]="requestType"
                       [collection]="REQUEST_TYPES"></app-form-selector>

    <div class="flex flex-row items-center flex-1">
      <label class="w-28 mx-2 text-lg">Format MIME:</label>
      <input type="text" placeholder="application/json" [(ngModel)]="formatType"
             class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
    </div>
  </div>

  <div class="flex flex-row items-center">
    <label class="w-28 mx-2 text-lg">Name:</label>
    <input type="text" placeholder="Energy analysis algorithm" [(ngModel)]="name"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <div class="flex flex-row items-center">
    <label class="w-28 mx-2 text-lg">Description:</label>
    <input type="text" placeholder="This service is ..." [(ngModel)]="description"
           class="grow bg-gray-800  text-white placeholder:text-gray-500 rounded-lg"/>
  </div>

  <app-form-divider label="Actions"></app-form-divider>

  <div class="flex flex-row gap-3">
    <app-action-button (onClick)="build()" [isDisabled]="state.isLoading()">
      @if (state.isLoading()) {
        Building and Signing…
      } @else {
        Build and sign
      }
    </app-action-button>
    <app-action-button (onClick)="state.copyToClipboard(content)" [isDisabled]="!content">📋</app-action-button>
  </div>

  @if (content) {
    <app-form-divider label="Result"></app-form-divider>
    <app-result-block [content]="content"></app-result-block>
  }
</div>
