<div class="flex flex-col gap-3">
  <h1 class="text-2xl grow font-bold">Terms and Conditions</h1>

  <app-form-divider label="Actions"></app-form-divider>

  <div class="flex flex-row gap-4">
    <div class="flex flex-row items-baseline flex-4">
      <label class="w-20 input-label">Save url:</label>
      <input type="text" placeholder="https://www.my-domain.com/vc1" [ngModel]="fileUrl()" disabled
             class="grow input-base"/>
    </div>

    <div class="flex flex-row items-baseline flex-5">
      <label class="w-20 input-label">Did:</label>
      <input type="text" placeholder="did:web:www.my-domain.com:docs:vc" [ngModel]="state.did()" disabled
             class="grow input-base"/>
    </div>
  </div>

  <div class="flex flex-row items-baseline">
    <app-side-decorator class="flex flex-row gap-3 text-yellow-400 items-center grow" leftDecor=". ݁₊ ⊹" rightDecor="⊹ ₊ ݁.">
      <app-action-button (onClick)="sign()" [isDisabled]="state.isLoading()">
        @if (state.isLoading()) {
          Signing…
        } @else {
          Sign
        }
      </app-action-button>
    </app-side-decorator>
    <app-stepper></app-stepper>
  </div>

  @if (vc()) {
    <app-form-divider label="Result"></app-form-divider>
    <div class="flex flex-row gap-3">
      <app-result-block class="flex-1" [content]="vc()"></app-result-block>
      <app-result-block class="flex-1" [content]="vc() | decodeJwt"></app-result-block>
    </div>
  }
</div>
